.background_chairs {
	/* background-image: url('https://res.cloudinary.com/dytybjqwb/image/upload/v1738272487/final_p1wiig.png'); */
	background-size: cover;
	background-color: rgb(230, 229, 221);
	background-position: center;
	background-repeat: no-repeat;
}
